body {
	font-family: "Roboto", sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background-color: #13dcff;
	color: #000000;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
  }
  
  nav li {
	margin: 0 10px;
  }
  
  nav a {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #ff8839;
  }
  
  nav a:hover {
	color: #fff;
	background-color: #333;
  }
  
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
    text-align: center;
  }
  
  /* Tombol navigasi */
  .prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
  }
  
  /* Tombol sebelumnya */
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* Tombol selanjutnya */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* Menambahkan animasi transisi */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
  }
  
  @-webkit-keyframes fade {
    from {
      opacity: .4
    }
  
    to {
      opacity: 1
    }
  }
  
  @keyframes fade {
    from {
      opacity: .4
    }
  
    to {
      opacity: 1
    }
  }